<div #sidebar class="sidebar" [ngClass]="{'mr-0': sharedService.showSidebar}" (click)="sidebarClik($event)">
    <div class="d-flex text-light justify-content-between px-3">
        <h5 class="mt-2">Dashboard</h5> 
        <div>
            <button class="btn btn-transparent" (click)="sharedService.showSidebar = false">
                <span class="fa fa-bars text-light"></span>
            </button>
        </div> 

    </div>
    <ul class="list-unstyled text-ligt mt-3">
        <li class="list-item">
            <a class="nav-link text-light" routerLink="/"> Dashboard</a> 
        </li>
        <li class="list-item">
            <a class="nav-link text-light" routerLink="/cities"> <i class="fa fa-building d-inline-block w-20 text-center"></i> Cities</a>
        </li>
        <li class="list-item">
            <a class="nav-link text-light" routerLink="/packages"> <i class="fa fa-object-group d-inline-block w-20 text-center small"></i> Packages</a>
        </li>
        <li class="list-item">
            <a class="nav-link text-light" routerLink="/professions"> <i class="fa fa-user d-inline-block w-20 text-center"></i> Professions</a>
        </li>
        <li class="list-item">
            <a class="nav-link text-light" routerLink="/users"> <i class="fa fa-user d-inline-block w-20 text-center"></i> Users</a>
        </li>
        <li class="list-item">
            <a class="nav-link text-light" routerLink="/employees"> <i class="fa fa-user d-inline-block w-20 text-center"></i> Employees</a>
        </li>
        <li class="list-item">
            <a class="nav-link text-light" routerLink="/professions"> <i class="fa fa-user d-inline-block w-20 text-center"></i> Professionals</a>
        </li>
    </ul>
</div>
